{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 120,
	"experimentalTernaries": true,
	"experimentalOperatorPosition": "start",
	"semi": false,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"tailwindStylesheet": "./src/app.css",
	 "tailwindAttributes": ["triggerBase", "contentBase", "backdropClasses"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}