@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import './custom-hamlindigo.css';
/* @import '@skeletonlabs/skeleton/themes/rocket'; */

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@custom-variant dark (&:where(.dark, .dark *));

/* General */
html,
body {
	height: 100%;
}

.ordered-list {
	@apply list-outside list-decimal space-y-2 ps-8 pb-4;	
}

.unordered-list {
	@apply list-outside list-disc space-y-2 ps-8 pb-4;	
}
.unordered-list li ul, .unordered-list li ol {
	@apply list-outside space-y-2 ps-8 pt-2;	
}
.unordered-list li ul li {
	list-style-type: circle;
}
.unordered-list li ol li {
	list-style-type: decimal;
}

:root {
	/* --color-primary-contrast-500: oklch(0.25 0.03 213.73) */
}

/* Nav.Rail */
[data-testid='nav-tile-label'],
[data-testid='nav-tile-label-expanded'] {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
[data-testid='nav-tile-label'] {
	text-align: center;
}
[data-testid='nav-tile-label-expanded'] {
	text-align: left;
}

/* Svelecte */
/* remove focus "border" */
input.sv-input--text:focus {
	box-shadow: none !important;
}
/* remove down arrow */
.sv-btn-indicator:not(.sv-has-selection),
.sv-btn-separator {
	display: none !important;
}

.single-selection .sv-control {
	height: 36px;
}

:root {
	/* Trying to match the Skeleton theme named Rocket */
	--sv-min-height: 36px;
	--sv-bg: transparent;
	/* --sv-disabled-bg: #eee; */
	--sv-border: 1px solid var(--color-surface-200);
	--sv-border-radius: var(--radius-base);
	--sv-general-padding: 4px;
	--sv-control-bg: var(--sv-bg);
	--sv-item-wrap-padding: 0 0 0 7px;
	--sv-selection-wrap-padding: 0 0 0 7px;
	--sv-selection-multi-wrap-padding: 0 3px 0 6px;
	--sv-item-selected-bg: var(--color-surface-50);
	--sv-item-btn-color: #000;
	--sv-item-btn-color-hover: var(--color-surface-800);
	--sv-item-btn-bg: var(--sv-item-selected-bg);
	--sv-item-btn-bg-hover: var(--color-surface-100);
	/* --sv-icon-color: #bbb;
    --sv-icon-color-hover: #777;
    --sv-icon-bg: red;
    --sv-icon-size: 20px; 
    --sv-separator-bg: #ccc;
    --sv-btn-border: 0; */
	--sv-placeholder-color: #ccccd6;
	--sv-dropdown-bg: white;
	--sv-dropdown-offset: 1px;
	--sv-dropdown-border: var(--sv-border);
	--sv-dropdown-width: auto;
	--sv-dropdown-shadow: 0 6px 12px #0000002d;
	--sv-dropdown-height: 260px;
	--sv-dropdown-active-bg: var(--sv-item-btn-bg);
	--sv-dropdown-selected-bg: var(--sv-item-btn-bg-hover);
	/* --sv-create-kbd-border: 1px solid #efefef;
    --sv-create-kbd-bg: #fff;
    --sv-create-disabled-bg: #fcbaba;
    --sv-loader-border: 2px solid #ccc; */
}

.dark {
	--sv-border: 1px solid var(--color-surface-800);
	--sv-item-selected-bg: var(--color-surface-800);
	--sv-item-btn-color: white;
	--sv-item-btn-color-hover: var(--color-surface-200);
	--sv-item-btn-bg: var(--sv-item-selected-bg);
	--sv-item-btn-bg-hover: var(--color-surface-600);
	--sv-placeholder-color: #ccccd6;
	--sv-dropdown-bg: var(--color-surface-900);
	--sv-dropdown-border: var(--sv-border);
	--sv-dropdown-shadow: 0 1px 3px #555;
	--sv-dropdown-active-bg: var(--sv-item-btn-bg);
}
