@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/rocket';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@custom-variant dark (&:where(.dark, .dark *));

/* Svelecte */
input.sv-input--text:focus { /* remove focus "border" */
    box-shadow: none !important;
}

.sv-btn-indicator:not(.sv-has-selection), .sv-btn-separator { /* remove down arrow */
    display: none !important;
}

.dark {
    --sv-min-height: 40px;
    --sv-bg: #32363f;
    --sv-disabled-bg: #eee;
    --sv-border: 1px solid #626262;
    --sv-border-radius: 4px;
    --sv-general-padding: 4px;
    --sv-control-bg: transparent;
    --sv-item-wrap-padding: 3px 3px 3px 6px;
    --sv-selection-wrap-padding: 3px 3px 3px 4px;
    --sv-selection-multi-wrap-padding: 3px 3px 3px 6px;
    --sv-item-selected-bg: #626262;
    --sv-item-btn-color: #ccc;
    --sv-item-btn-color-hover: #ccc;
    --sv-item-btn-bg: #626262;
    --sv-item-btn-bg-hover: #bc6063;
    --sv-icon-color: #bbb;
    --sv-icon-color-hover: #ccc;
    --sv-icon-bg: transparent;
    --sv-icon-size: 20px;
    --sv-separator-bg: #626262;
    --sv-btn-border: 0;
    --sv-placeholder-color: #ccccd6;
    --sv-dropdown-bg: var(--sv-bg);
    --sv-dropdown-border: var(--sv-border);
    --sv-dropdown-offset: 1px;
    --sv-dropdown-width: auto;
    --sv-dropdown-shadow: 0 1px 3px #555;
    --sv-dropdown-height: 240px;
    --sv-dropdown-active-bg: #553d3d;
    --sv-dropdown-selected-bg: #754545;
    --sv-create-kbd-border: 1px solid #626262;
    --sv-create-kbd-bg: #626262;
    --sv-create-disabled-bg: #fcbaba;
    --sv-loader-border: 2px solid #626262;
  }

/* General */

html,body {
    height: 100%
}